@import '@/app/styles/config/variables.scss';

.modal-content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .create-form {
    display: flex;
    flex-direction: column;
    background-color: $bg-primary;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
